.modal--open {
  overflow: hidden;
}

.modal-container {
  position: fixed;
  z-index: 1201;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: auto;
}

.modal-container.modal-container--empty {
  display: none;
}

.modal__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__item > * {
  position: relative;
}

.modal__backdrop {
  position: absolute;
  background: black;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.modal--active .modal__backdrop {
  opacity: 0.5;
}

.modal__content {
  position: relative;
  width: 100%;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
